<!-- tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link" data-bs-toggle="tab" href="#home" aria-selected="false" role="tab" tabindex="-1">Home</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link active" data-bs-toggle="tab" href="#profile" aria-selected="true" role="tab">Profile</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link disabled" href="#" aria-selected="false" tabindex="-1" role="tab">Disabled</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
    <div class="dropdown-menu" style="">
      <h6 class="dropdown-header">Dropdown header</h6>
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade" id="home" role="tabpanel">
    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
  </div>
  <div class="tab-pane fade active show" id="profile" role="tabpanel">
    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
  </div>
  <div class="tab-pane fade" id="dropdown1">
    <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
  </div>
  <div class="tab-pane fade" id="dropdown2">
    <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
  </div>
</div>
<body>
  navbar
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor04"
        aria-controls="navbarColor04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor04">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">To Watch</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">To Read</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </li>
        </ul>
        <div class="login-container">
          <form action="/action_page.php">
            <input type="text" placeholder="Username" name="username">
            <input type="text" placeholder="Password" name="psw">
            <button type="submit">Login</button>
          </form>
        </div>
      </div>
    </nav>
<!-- main -->
      <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">

              <div class="card">
                <div class="card-body p-5">

                  <form class="d-flex justify-content-center align-items-center mb-4">
                    <div class="form-outline flex-fill">
                      <input type="text" id="form2" class="form-control" placeholder="Create to do" />
                      <label class="form-label" for="form2" placeholder="Create to do"></label>
                    </div>
                    <button type="submit" class="btn btn-info ms-2">Add</button>
                  </form>

                  <!-- Tabs navs -->
                  <ul class="nav nav-tabs mb-4 pb-2" id="ex1" role="tablist">
                    <li class="nav-item" role="presentation">
                      <a class="nav-link active" id="ex1-tab-1" data-mdb-toggle="tab" href="#ex1-tabs-1" role="tab"
                        aria-controls="ex1-tabs-1" aria-selected="true">All</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="ex1-tab-2" data-mdb-toggle="tab" href="#ex1-tabs-2" role="tab"
                        aria-controls="ex1-tabs-2" aria-selected="false">Active</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="ex1-tab-3" data-mdb-toggle="tab" href="#ex1-tabs-3" role="tab"
                        aria-controls="ex1-tabs-3" aria-selected="false">Completed</a>
                    </li>
                  </ul>
                  <!-- Tabs navs -->

                  <!-- Tabs content -->
                  <div class="tab-content" id="ex1-content">
                    <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1">
                      <ul class="list-group mb-0">
                        <li class="list-group-item d-flex align-items-center border-0 mb-2 rounded"
                          style="background-color: #f4f6f7;">
                          <input class="form-check-input me-2" type="checkbox" value="" aria-label="..." checked />
                          <s>Cras justo odio</s>
                        </li>
                        <li class="list-group-item d-flex align-items-center border-0 mb-2 rounded"
                          style="background-color: #f4f6f7;">
                          <input class="form-check-input me-2" type="checkbox" value="" aria-label="..." checked />
                          <s>Dapibus ac facilisis in</s>
                        </li>
                        <li class="list-group-item d-flex align-items-center border-0 mb-2 rounded"
                          style="background-color: #f4f6f7;">
                          <input class="form-check-input me-2" type="checkbox" value="" aria-label="..." />
                          Morbi leo risus
                        </li>
                        <li class="list-group-item d-flex align-items-center border-0 mb-2 rounded"
                          style="background-color: #f4f6f7;">
                          <input class="form-check-input me-2" type="checkbox" value="" aria-label="..." />
                          Porta ac consectetur ac
                        </li>
                        <li class="list-group-item d-flex align-items-center border-0 mb-0 rounded"
                          style="background-color: #f4f6f7;">
                          <input class="form-check-input me-2" type="checkbox" value="" aria-label="..." />
                          Vestibulum at eros
                        </li>
                      </ul>
                    </div>
                    <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                      <ul class="list-group mb-0">
                        <li class="list-group-item d-flex align-items-center border-0 mb-2 rounded"
                          style="background-color: #f4f6f7;">
                          <input class="form-check-input me-2" type="checkbox" value="" aria-label="..." />
                          Morbi leo risus
                        </li>
                        <li class="list-group-item d-flex align-items-center border-0 mb-2 rounded"
                          style="background-color: #f4f6f7;">
                          <input class="form-check-input me-2" type="checkbox" value="" aria-label="..." />
                          Porta ac consectetur ac
                        </li>
                        <li class="list-group-item d-flex align-items-center border-0 mb-0 rounded"
                          style="background-color: #f4f6f7;">
                          <input class="form-check-input me-2" type="checkbox" value="" aria-label="..." />
                          Vestibulum at eros
                        </li>
                      </ul>
                    </div>
                    <div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">
                      <ul class="list-group mb-0">
                        <li class="list-group-item d-flex align-items-center border-0 mb-2 rounded"
                          style="background-color: #f4f6f7;">
                          <input class="form-check-input me-2" type="checkbox" value="" aria-label="..." checked />
                          <s>Cras justo odio</s>
                        </li>
                        <li class="list-group-item d-flex align-items-center border-0 mb-2 rounded"
                          style="background-color: #f4f6f7;">
                          <input class="form-check-input me-2" type="checkbox" value="" aria-label="..." checked />
                          <s>Dapibus ac facilisis in</s>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- Tabs content -->

                </div>
              </div>

            </div>
          </div>
        </div>
      </section>
<!-- test -->
<div class="container mt-5">
  <div class="row">
      <div class="col-md-6 offset-md-3">
          <h1 class="text-center mb-4">Task Manager</h1>

          <!-- Task Form -->
          <form id="taskForm">
              <div class="mb-3">
                  <label for="taskInput" class="form-label">New Task</label>
                  <input type="text" class="form-control" id="taskInput" required>
              </div>
              <button type="submit" class="btn btn-primary">Add Task</button>
          </form>

          <!-- Task List -->
          <ul class="list-group mt-4" id="taskList">
              <!-- Task items will be dynamically added here -->
          </ul>
      </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
  // Your JavaScript for task management can go here
  document.getElementById('taskForm').addEventListener('submit', function (event) {
      event.preventDefault();

      // Handle form submission, e.g., add a new task to the list
      const taskInput = document.getElementById('taskInput').value;

      // Create a new list item with Bootstrap classes
      const listItem = document.createElement('li');
      listItem.className = 'list-group-item d-flex justify-content-between align-items-center';
      listItem.innerHTML = `
          ${taskInput}
          <span class="badge bg-danger">Delete</span>
      `;

      // Append the new task item to the task list
      document.getElementById('taskList').appendChild(listItem);

      // Clear the input field
      document.getElementById('taskInput').value = '';
  });

  // Add event listener for deleting tasks
  document.getElementById('taskList').addEventListener('click', function (event) {
      if (event.target.classList.contains('badge')) {
          // Remove the task item when the delete badge is clicked
          event.target.parentElement.remove();
      }
  });
</script>

</body>
</html>
</body>

</html>
